extend layout

block btn
  button 
    a(href='/') Home


block content
    
    .addForm 
        form(method="post", action="/updateMovie/#{record._id}")
            p Movie Title :
                input(type="text", name="title", value='#{record.title}')
            p Director Name :
                input(type="text", name="actorName", value='#{record.actorName}')
            p Release Date :
                input(type="Date", name="date",value='#{record.releaseDate}')
            p
                input(type="Submit", value="Update") 
