Doctype
html
    head
        title #{title} - Movie Website
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/movieWebsite.css')
    body
        header
            h1 WELCOME TO OUR WEBSITE
            .btl
             block btn

        .container
            .main-content
             block content

        footer
            p CREATED BY MD MIRAJ HOSSAIN. © 2022
